{% import "_macros.html.twig" as macros %}

{% if navi is not defined %}
    {% set navi = '' %}
{% endif %}


<div class="row bg-info" style="margin: 0;">
    <div class="col-auto mr-auto">
        <a class="nav-link" href="{{ path('app_home') }}">DAILYs</a>
    </div>
    <div class="col-auto">
        {% if is_granted('ROLE_USER') %}
            <a class="nav-link {{ macros.activeNavi(navi, 'home') }}" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="nav-link {{ macros.activeNavi(navi, 'login') }}" href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </div>
</div>
<div class="pt-5 bg-info">
    <div class="container mt-5 mb-5">
        <h1 class="display-2 text-center pt-5">DAILYs</h1>
        <p class="lead text-center pb-5">Habit-Tracker/To-Dos/Goals/Schedule</p>
    </div>
    <div class="container pt-5">
        <ul class="nav nav-tabs justify-content-center mb-5">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link {{ macros.activeNavi(navi, 'tracker') }}" href="{{ path('app_tracker') }}">Habit
                        Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ macros.activeNavi(navi, 'habits') }}" href="{{ path('app_habits') }}">Mange
                        your Habits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ macros.activeNavi(navi, 'goals') }}" href="{{ path('app_goals') }}">Mange
                        your Goals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ macros.activeNavi(navi, 'todos') }}" href="{{ path('app_todos') }}">Mange
                        your To-Dos</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
