{% import "_macros.html.twig" as macros %}

{% if navi is not defined %}
    {% set navi = '' %}
{% endif %}



<div class="row bg-info" style="margin: 0;">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <a class="nav-link {{ macros.activeNavi(navi, 'home') }}" href="{{ path('app_login') }}">Login</a>
    </div>
</div>
<div class="pt-5 bg-info">
    <div class="container mt-5 mb-5">
        <h1 class="display-2 text-center pt-5">HABIT tracker</h1>
        <p class="lead text-center pb-5">Track your habits an see your daily progress</p>
    </div>
    <div class="container pt-5">
        <ul class="nav nav-tabs justify-content-center mb-5">
            <li class="nav-item">
                <a class="nav-link {{ macros.activeNavi(navi, 'home') }}" href="{{ path('app_habits_home') }}">Habit Tracker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ macros.activeNavi(navi, 'habits') }}" href="{{ path('app_habits') }}">Mange your Habits</a>
            </li>
        </ul>
    </div>
</div>
