{% extends 'base.html.twig' %}
{% import '_macros.html.twig' as macros %}

{% block css %}
    {{ parent() }}
    <script src="{{asset('css/main.css')}}"></script>
{% endblock css%}

{% block main %}
    {% for month in months %}
        <h3>{{ month.name }}</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <td>Habit</td>
                    {% for day in days %}
                        <th>{{ day.number }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for monthToHabit in month.monthToHabits %}
                <tr>
                    <td>{{ monthToHabit.habit.name }}</td>
                    {% for day in days %}
                        <td >
                            <form action="{{ path('app_months_habits_check', {'habit': monthToHabit.habit.id, 'day': day.id, 'month' : month.id}) }}" name="formName" id="{{ monthToHabit.habit.name ~ month.name ~ day.number }}"  method="POST">
                                <button type="submit" class="check-button " name="{{ monthToHabit.id }}" id="{{ monthToHabit.id }}"></button>
                            </form>
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}