{% extends 'base.html.twig' %}

{% block title %}Your habit!{% endblock %}

{% block main %}
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_goals')}}" class="btn btn-sm btn-outline-secondary">Back to list with Goals</a>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-lg-8 pt-5">
            <h1>
                {% if goal.id %}
                    Edit your Goal: <br>{{ goal.name }}
                {% else %}
                    Add a new Goal
                {% endif %}
            </h1>
            <div class="pt-5">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

